body{
    background-color: #f4f4f4;
}
nav li{
    display: inline-block;
    padding: 10px;
}
nav li a{
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
header{
    background: #bbb;
    padding: 20px 0;
}
.content{
    width: 940px;
    margin: 0 auto;
}
nav{
    float: right;
    margin-top: 70px;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produtos .preco{
    font-size: 22px;
    font-weight: bold;
}
.produtos .desc{
    font-size: 18px;
}
